:root {
  --Active-colour: #3C5408;
  --buttom-color: #FAC136;
  --ash-inactive-color: #F3F3F3; 

}

body {
  font-family: Inter, 'sans-serif' !important;
}

.notification {
  background-color: var(--Active-colour);
  color: white;
}

.signup-top {
  color: var(--buttom-color);
}

.social {
  background-color: var(--buttom-color);
  margin: 0 .5rem;
  padding: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-align: center;
}

.nav-link, .logo {
  font-weight: 500 !important;
  margin: 0 .5rem;
}

.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler:hover {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.navbar-toggler-icon:focus, .navbar-toggler-icon:active, .navbar-toggler-icon:hover {
  outline: none !important;
  border: none !important;
}

main {
  background-color: var(--ash-inactive-color);
  padding-top: 9rem;
}

.details {
  background-color: var(--Active-colour) !important;
}

.video-embeded {
  border-radius: .55rem !important;

}

.rated p, .ship p {
  font-size: .8rem;
  margin-top: -.5rem;
}

.ratings {
  max-width: 100%;
  max-height: 100%;
  width: 3rem;
  height: 3rem !important;
  z-index: 10;
}

.ratings-country {
  width: 2rem;
  height: 2rem !important;
}

.rated-country p{
  font-size: .8rem;

}
.rated-country p + p{
  font-size: .7rem;
  margin-top: -.5rem;

}

.rating {
  margin-left: -.5rem !important;
  z-index: 100;
}

.line {
  margin-top: -.5rem;
}

a.details-products {
  font-size: .8rem;
}

.card-text {
  font-size: .85rem;
}

.sponsors-imgs {
  width: 8rem;
  height: 8rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  main {
    padding-top: 7rem;
  }

  /* .sponsors-imgs {
    width: 15rem;
    height: 15rem;
    padding: 1rem;
    margin: .5rem;
  } */
  
}

