:root {
  --Active-colour: #3C5408;
  --buttom-color: #FAC136;
  --ash-inactive-color: #F3F3F3; 

}

body {
  font-family: Inter, 'sans-serif' !important;
}

.notification {
  background-color: var(--Active-colour);
  color: white;
}

.signup-top {
  color: var(--buttom-color);
}

.social {
  background-color: var(--buttom-color);
  margin: 0 .5rem;
  padding: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-align: center;
}

.nav-link, .logo {
  font-weight: 500 !important;
  margin: 0 .5rem;
}

.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler:hover {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.navbar-toggler-icon:focus, .navbar-toggler-icon:active, .navbar-toggler-icon:hover {
  outline: none !important;
  border: none !important;
}
